extends templates/layout

block content 
    form(method="POST")
        input(name="username", required, placeholder="username", type="text")
        input(name="password", required, placeholder="password", type="password")
        input(name="name", required, placeholder="name", type="text")
        input(type="submit", value="Join")