extends templates/layout

block content
    if errorMessage
        p=errorMessage
    form(method="POST")
        input(name="username", required, placeholder="username", type="text")
        input(name="password", required, placeholder="password", type="password")
        input(type="submit", value="Login")