extends layout 
include mixins/movieTitle

block content 
    h1=pageTitle
    form(action="/filter", method="GET")
        input(name="year", placeholder="Filter by year", type="number", min="0")
        input(name="rating", placeholder="Filter by rating", type="number", min="0")
        input(value="Search", type="submit")
    each movie in filterYear 
        +getTitle(movie)