.button {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
}

.button button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: none;
}

.button__shuffle {
  background-color: var(--color-tone);
  color: white;
  font-size: large;
}

.button__heart {
  background-color: whitesmoke;
  color: var(--gray-color);
  font-size: large;
}

.button__heart i {
  color: var(--color-tone);
  margin-right: 10px;
}
