extends base

block content
    h1 TXT2HTML!
    main
        span=err
        form(method="POST", action="/read", enctype="multipart/form-data")
            input(name="text", type="file", accept="text/plain")
            input(type="submit", value="Convert!")
        h2 File List
        each file in files
            li
                a(href=`/read/${file}`)=file
        else 
            li Sorry nothing found.